<main>
  <h1>Ajouter un article</h1>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label>
      <div>Nom</div>
      <input type="text" appAutofocus formControlName="name" />
    </label>
    <label>
      <div>Prix</div>
      <input type="number" formControlName="price" />
    </label>
    <label>
      <div>Quantité</div>
      <input type="number" formControlName="qty" />
    </label>
    <nav>
      <button type="button" routerLink="..">Annuler</button>
      <button type="submit" class="primary" [disabled]="f.invalid">
        Ajouter
      </button>
    </nav>
  </form>
  <!-- {{ f.value | json }} -->
</main>
