<main>
  <h1>Liste des articles</h1>
  <div>
    <nav>
      <button>Rafraichir</button>
      <button routerLink="create">Ajouter</button>
    </nav>
    <table>
      <caption>
        Liste des articles
      </caption>
      <tr class="header">
        <th scope="col">Nom</th>
        <th scope="col">Prix</th>
        <th scope="col">Quantité</th>
      </tr>
      <tr
        *ngFor="let a of articleService.articles"
        [class.selected]="selectedArticles.includes(a)"
        (click)="toggle(a)"
      >
        <td class="name" [title]="a.name">{{ a.name | ellipsis: 15 }}</td>
        <td class="price">{{ a.price | currency }}</td>
        <td class="qty">{{ a.qty }}</td>
      </tr>
    </table>
  </div>
</main>
