<main>
  <h1>Liste des articles</h1>
  <div>
    <nav>
      <button>Rafraichir</button>
      <button>Ajouter</button>
    </nav>
    <table>
      <caption>
        Liste des articles
      </caption>
      <tr class="header">
        <th scope="col">Nom</th>
        <th scope="col">Prix</th>
        <th scope="col">Quantité</th>
      </tr>
      <tr>
        <td class="name">Tournevis cruciforme</td>
        <td class="price">1.20&nbsp;€</td>
        <td class="qty">450</td>
      </tr>
      <tr>
        <td class="name">Tournevis</td>
        <td class="price">1.20&nbsp;€</td>
        <td class="qty">450</td>
      </tr>
      <tr>
        <td class="name">Tournevis</td>
        <td class="price">10.20&nbsp;€</td>
        <td class="qty">450</td>
      </tr>
      <tr>
        <td class="name">Tournevis</td>
        <td class="price">1.20&nbsp;€</td>
        <td class="qty">3</td>
      </tr>
      <tr>
        <td class="name">Tournevis</td>
        <td class="price">1.20&nbsp;€</td>
        <td class="qty">450</td>
      </tr>
      <tr>
        <td class="name">Tournevis</td>
        <td class="price">1.20&nbsp;€</td>
        <td class="qty">450</td>
      </tr>
      <tr>
        <td class="name">Tournevis</td>
        <td class="price">1.20&nbsp;€</td>
        <td class="qty">450</td>
      </tr>
    </table>
  </div>
</main>
