<main>
  <h1>Mentions Légales</h1>
  <p>date : {{ now | date: "long" }}</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nulla,
    eligendi velit quia quo autem numquam vero praesentium dolor illum? Officiis
    laborum excepturi voluptatem porro nostrum vel a quos fuga!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nulla,
    eligendi velit quia quo autem numquam vero praesentium dolor illum? Officiis
    laborum excepturi voluptatem porro nostrum vel a quos fuga!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nulla,
    eligendi velit quia quo autem numquam vero praesentium dolor illum? Officiis
    laborum excepturi voluptatem porro nostrum vel a quos fuga!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nulla,
    eligendi velit quia quo autem numquam vero praesentium dolor illum? Officiis
    laborum excepturi voluptatem porro nostrum vel a quos fuga!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nulla,
    eligendi velit quia quo autem numquam vero praesentium dolor illum? Officiis
    laborum excepturi voluptatem porro nostrum vel a quos fuga!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nulla,
    eligendi velit quia quo autem numquam vero praesentium dolor illum? Officiis
    laborum excepturi voluptatem porro nostrum vel a quos fuga!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nulla,
    eligendi velit quia quo autem numquam vero praesentium dolor illum? Officiis
    laborum excepturi voluptatem porro nostrum vel a quos fuga!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nulla,
    eligendi velit quia quo autem numquam vero praesentium dolor illum? Officiis
    laborum excepturi voluptatem porro nostrum vel a quos fuga!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nulla,
    eligendi velit quia quo autem numquam vero praesentium dolor illum? Officiis
    laborum excepturi voluptatem porro nostrum vel a quos fuga!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nulla,
    eligendi velit quia quo autem numquam vero praesentium dolor illum? Officiis
    laborum excepturi voluptatem porro nostrum vel a quos fuga!
  </p>
</main>
